async-timeout==5.0.1
attrs==25.3.0
bcrypt==4.3.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
idna==3.10
paramiko==3.5.1
public-ip==0.12
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyNaCl==1.5.0
pyOpenSSL==25.0.0
pyTelegramBotAPI==4.26.0
python-dotenv==1.1.0
redis==5.2.1
requests==2.32.3
service-identity==24.2.0
SQLAlchemy==2.0.40
TelegramBotAPI==0.3.2
typing_extensions==4.13.2
urllib3==2.4.0
