async-timeout
attrs
bcrypt
certifi
cffi
charset-normalizer
cryptography
idna
paramiko
public-ip
pyasn1
pyasn1_modules
pycparse
PyNaCl
pyOpenSSL
pyTelegramBotAPI
python-dotenv
redis
requests
service-identity
SQLAlchemy
TelegramBotAPI
typing_extensions
urllib3